<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Store Location</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>

<header class="jumbotron jumbotron-fluid" style="padding-top:0px; padding-bottom: 2px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <img src="{% static 'images/shopping_cart.png' %}" width="40px" height="40px" />
        <a class="navbar-brand" href="#">Shelf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href='/shelf/item'>Search by Item</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href='/shelf/profile'>Your Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href='/logout'>logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="display-4">Hi {{request.session.first_name}},</h1>
        <p class="lead">Store Locations</p>
    </div>
</header>

<body>
    {%if messages%}
    <ul>
        {%for message in messages%}
        <li style='color:red'>{{message}}</li>
        {%endfor%}
    </ul>
    {%endif%}
    <form action="locations/search" method="GET">
        <p><input type="text" name="search_field" placeholder="Search by store name"> <input type="submit"
                value="Submit"></p>
    </form>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Store</th>
                <th scope="col">Location</th>
                <th scope="col">Items</th>
            </tr>
        </thead>
        <tbody>
            {%for store in stores%}
            {%for location in store.locations.all%}
            <tr>
                <td scope="row">{{location.store.name}}</th>
                <td><a class='navigation'>{{location.address}} {{location.city}} {{location.state}}
                        {{location.zip_code}}</a></td>
                <td><a href='/shelf/{{location.id}}/items'>Items</a></td>
                <td><a href='/shelf/{{location.id}}/add_favorite_location'>Favorite this Location</a></td>
            </tr>
            {%endfor%}
            {%endfor%}
        </tbody>
    </table>
    <div style='margin-left:25%; text-align: center; width:600px;'>
        <form method='POST' action='/shelf/create/store'>
            <h3>Add Store</h3>
            {% csrf_token %}
            <div>
                <div id='old_store' style="color: blue; text-decoration: underline;">Pick From Current Stores</div>
                <p>or</p>
                <div id='new_store' style="color: blue; text-decoration: underline;">Pick Create New Store</div><br>
                <div id='store_select'><select  class='form-control' name='store_name'>
                        <optgroup label='Current Store:' name='store_name'>{%for store in stores%}<option
                                value='{{store.id}}' name='store_name'> {{store.name}} </option>{%endfor%}</optgroup>
                    </select></div><br>
                <p>Address:<input class='form-control' type='text' name='address' placeholder='0000 address at street'>
                </p>
                <p> City:<input class='form-control' type='text' name='city' placeholder='City'></p>
                <p> State:<input class='form-control' type='text' name='state' placeholder='State'></p>
                <p>Zip Code:<input class='form-control' type='text' name='zip_code' placeholder='5 digit Zip Code'></p>
                <p><button type='submit'>submit</button></p>
            </div>
        </form>
    </div>
    <p><a href='/shelf/profile'>Return to your dashboard</a></p>
    <script>
        $(document).ready(function () {
            $('#old_store').click(function () {
                $('#store_select').empty()
                $('#store_select').append("<select class='form-control' name='store_name'><optgroup label='Current Store:' name='store_name'>{%for store in stores%}<option value='{{store.id}}' name='store_name'> {{store.name}} {{store.location.address}} </option>{%endfor%}</optgroup></select>")
            })
            $('#new_store').click(function () {
                $('#store_select').empty()
                $('#store_select').append(" New Store Name:<input type='text' class='form-control' name='store_name' placeholder='Select New Store Name'>")
            })
            $('.navigation').click(function () {
                if (navigator.geolocation)
                    navigator.geolocation.getCurrentPosition(function (position) {
                        console.log(position);
                        var current_long = position.coords.longitude;
                        var current_lat = position.coords.latitude;
                        // var destination = 'http://maps.google.com/maps/dir/?api=1&origin' + current_lat + '+' + current_long);
                        console.log(current_lat, current_long);
                        $('.navigation').attr('href', 'http://maps.google.com/maps/dir/' + current_lat + '+' + current_long)
                        // $('.navigate_to').click();
                    })
                else
                    console.log('no geolocation')
            })
        })
    </script>

</body>

</html>