<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="/shelf/item/search" method="GET">
    <p>Search: <input type="text" name="search_field" placeholder="Search for items"></p>
    <input type="submit" value="Submit">
</form>
{%for item in items%}
<a>{{item.name}}</a><br>
<p>{{item.price}}</p>
<a>{{item.location.store.name}} {{item.location.city}} {{item.location.state}}</a><br>
<br>
{%endfor%}
<a href='/shelf/profile'>dashboard</a>
</body>
</html>
