<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Store Location</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

{%if messages%}
    <ul>
        {%for message in messages%}
        <li style='color:red'>{{message}}</li>
        {%endfor%}
    </ul>
    {%endif%}

<form action="locations/search" method="GET">
    <p>Search: <input type="text" name="search_field" placeholder="Search by store name"></p>
    <input type="submit" value="Submit">
</form>
    
{%for store in stores%}
<p>{{store.name}}</p>
    {%for location in store.locations.all%}
        <a href='/shelf/maps'>{{location.address}}  {{location.city}}  {{location.state}}  {{location.zip_code}}</a>
        <a href='/shelf/{{location.id}}/items'>Items</a>
        <br>
    {%endfor%}
{%endfor%}
<h3>Add Store</h3>
<form method='POST' action='/shelf/create/store'>
    {% csrf_token %}
    <select name='store_name'>
        <optgroup label='Current Store:' name='store_name'>
                {%for store in stores%}
                <option value='{{store.name}}' name='store_name'> {{store.name}} </option>
                {%endfor%}
        </optgroup>
        <option>
                New Store Name:<input type='text' name='store_name' placeholder="Select New Store Name">
        </option>
    </select>
    Address:<input type='text' name='address' placeholder='0000 address at street'>
    City:<input type='text' name='city' placeholder='City'>
    State:<input type='text' name='state' placeholder='State'>
    Zip Code:<input type='text' name='zip_code' placeholder='5 digit Zip Code'>
    <button type='submit'>submit</button>
</form>
<a href='/shelf/profile'>dashboard</a>

</body>
</html>
