<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Location</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>{{location.store.name}}</h1>
{%for item in items%}
{{item.name}}<br>
{{item.price}}<br>
<a href='/shelf/{{item.aisle.id}}/aisle'>{{item.aisle.description}}</a><br>
<br>
{%endfor%}
<a href='/shelf/profile'>dashboard</a>
<h3>Add Item</h3>
<form method='POST' action='/shelf/{{location.id}}/create_item'>
    {% csrf_token %}
    Item:<input type='text' name='name' placeholder='Item Name'>
    Price:<input type='text' name='price' placeholder='XXX.OO'>
    Aisle Description:<input type='text' name='description' placeholder="Aisle number Aisle name">
    <button type='submit'>submit</button>
</form>
</body>
</html>